body {
  background-color: gray;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.left-block {
  background-color: wheat;
}

.center-block {
  max-width: 500px;
}

.right-block {
  background-color: wheat;
}

.post {
  padding: 20px;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 20px;
  background-color: rgba(0, 0, 255, 0.1);
}

.post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-footer__image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post-footer {
  display: flex;
  align-items: center;
}

.post-footer__author {
  margin-left: 20px;
  font-weight: 600;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.form-item label {
  width: 100px;
}

.form-item input {
  border: none;
  outline: none;
  height: 20px;
  width: 100px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 255, 0.1);
}

button {
  border: none;
  outline: none;
  padding: 4px 8px;
  background-color: brown;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
  cursor: pointer;
}
